{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Form</title>
    <!-- Link to external CSS -->
    <link href="{% static 'css/tabler.css' %}" rel="stylesheet"/>
    <style>
        body, html {
            height: 100%;
        }
        .form-container {
            height: 100%; /* Full height */
        }
    </style>
</head>
<body>

    <div class="container form-container d-flex justify-content-center align-items-center">
        <div class="card p-4 shadow-lg" style="width: 400px;">
            <h1 class="text-center">Pick Filtering</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="sports_league_choice">{{ form.sports_league_choice.label }}</label>
                    {{ form.sports_league_choice }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="type_of_bets">{{ form.type_of_bets.label }}</label>
                    {{ form.type_of_bets }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Look Up Now</button>
            </form>
        </div>
    </div>

</body>
</html>
