{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your Page Title{% endblock %}</title>
<link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css" rel="stylesheet">

</head>
<body>
<div class="page">
  <!-- Sidebar -->
  <aside class="navbar navbar-vertical navbar-expand-sm navbar-dark" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark">
        <a href="#">
          <img src="..." width="110" height="32" alt="Tabler" class="navbar-brand-image">
        </a>
      </h1>
      <div class="collapse navbar-collapse" id="sidebar-menu">
        <ul class="navbar-nav pt-lg-3">
          <li class="nav-item">
            <a class="nav-link" href="./">
              <span class="nav-link-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="nav-link-title">Manage Subscriptions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="nav-link-title">Manage Profile </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'market' %}">
              <span class="nav-link-title">Market</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="page-wrapper">
    <!-- Page Header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="page-pretitle">Overview</div>
                                <h2 class="page-title">Dashboard</h2>
                            </div>
                            <div class="col-auto ms-auto">
                                <div class="btn-list">
                                    <a href="{% url 'market' %}" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                                      Go to Marketplace
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
          <div class="container-xl">
            <!-- Subscribed Sellers Table -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">All Subscribed Sellers</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>Seller User Name</th>
                                    <th>Total Subscribers</th>
                                    <th>Number of Picks Placed</th>
                                    <th>Number of Units Won</th>
                                    <th>Average Probability</th>
                                    <th>Total Bets won</th>
                                    <th>Profile</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for seller_stats, subscriber_count , seller in seller_stat %}
                                <tr>
                                    <td>{{ seller.user_name }}</td>
                                    <td>{{ subscriber_count }}</td>
                                    {% for stat in seller_stats %}
                                        <td>{{ stat.stat_value }} </td>
                                    {% endfor %}
                                    <td>
                                        <a href="{% url 'profile_view' seller.id %}" class="btn btn-primary btn-sm">
                                            View Profile
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No subscribed sellers found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>

            <!-- Active Picks Table -->
<div class="container-xl" style="padding-top: 0.2in;">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Active Picks</h5>
            </div>
            <div class="card-body">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th>Away Team</th>
                                <th>Home Team</th>
                                <th>Event Start</th>
                                <th>Pick Type</th>
                                <th>Pick Target Winner</th>
                                <th>Pick Odds</th>
                                <th>Current Odds</th>
                                <th>Sportsbook</th>
                                <th>Unit Amount</th>
                                <th>Seller</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pick,current_data in seller_picks %}
                                <tr>
                                    <td>{{ pick.game_data.away_team }}</td>
                                    <td>{{ pick.game_data.home_team }}</td>
                                    <td>{{ pick.event_start }}</td>
                                    <td>{{ pick.type_of_pick }}</td>
                                    <td>{{ pick.pick_data.target_winner }}</td>
                                    <td>{{ pick.pick_data.odds }}</td>
                                    <td>{{ current_data }}</td>
                                    <td>{{ pick.pick_data.book_maker }}</td>
                                    <td>{{ pick.pick_data.bet_amount }}</td>
                                    <td>
                                        <a href="{% url 'profile_view' pick.seller.id %}" class="orange-link">
                                            {{ pick.seller.user_name }}
                                        </a>
                                    </td>
                                </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9">No Active picks available.</td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

<div class="container-xl" style="padding-top: 0.2in;">
            <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Historical Picks</h5>
                </div>
                <div class="card-body">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                    <th>Away Team</th>
                    <th>Home Team</th>
                    <th>Event Start</th>
                    <th>Pick Type</th>
                    <th>Pick Target Winner</th>
                    <th>Pick Odds</th>
                    <th>Sportsbook</th>
                    <th>Unit Amount</th>
                    <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                {% for pick in historical_picks %}
                <tr>
                    <td>{{ pick.game_event_result.team_1 }}</td>
                    <td>{{ pick.game_event_result.team_2 }}</td>
                    <td>{{ pick.event_start }}</td>
                    <td>{{ pick.type_of_pick }}</td>
                    <td>{{ pick.pick_data.target_winner }}</td>
                    <td>{{ pick.pick_data.odds }}</td>
                    <td>{{ pick.pick_data.book_maker }}</td>
                    <td>{{ pick.pick_data.bet_amount }}</td>
                    <td>
                        {% if pick.pick_data.pick_success %}
                            <span style="color: #4caf50;">Bet Successful</span>
                        {% else %}
                            <span style="color: #f44336;">Bet Failed</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="9">No historical picks available.</td>
                    </tr>
                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
  </div>
  </div>
</div>
</body>
</html>
